body {
    background-color: #FFFFFF;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-family: DaxPro, Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 12px;
  }

input{
  appearance: textfield;
}

#logo {
    height: 200px;
}

#logout {
  display: inline;
  position: absolute;
  right: 1rem;
}